@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  .navbar {
    padding: 10px;
    background-color: $colorWhite;
    border-bottom: 1px solid $borderColor;
    @include  flex(center, normal);
    .navbar-brand {
      color: $brandColor;
      font-size: $brandFSize;
      text-decoration: none;
    }
  }
}
