@import "mixins";
@import "variables";

.input {
  width: 100%;
  border: none;
  background: $inputBorderColor;
  color: $colorBlack;
  margin: 8px 0;
  outline: none;
  padding: 12px 30px;
  box-sizing: border-box;
  transition: .3s;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.input:focus {
  border-color: $inputBorderColor;
  box-shadow: 0 0 8px 0 $inputBorderColor;
}


.p-relative {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 8px;
  color: $iconColor;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 8px;
  height: $baseSize !important;
  width: $baseSize !important;
}

.color-gray {
  color: $infoIconColor;
}

.mt-5 {
  margin-top: 5rem;
}


ul {
  list-style-type: none;
}

.section-container-title {
  font-size: $baseSize;
  color: #757575;
}

.gap-16 {
  gap: $baseSize;
}

.icon-dimensions {
  height: $baseSize !important;
  width: $baseSize !important;
}

.section-container {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $brandColor;
    background-image: linear-gradient(315deg, $brandColor 0%, #d98324 74%);
  }


  .section-container-subtitle {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    @include flex(center, normal);
    gap: $baseSize / 4;
  }
}


.cursor-pointer {
  cursor: pointer;
}
