$colorWhite: #fff;
$colorBlack: #000;

$fontSize: 16px;
$font: 'Roboto', sans-serif;

$boxShadow: 0 2px 4px 0 rgba(0,0,0, .2);
$borderColor: rgba(0,0,0, .1);
$brandFSize: 40px;
$brandColor: #E93C0E;

$inputBorderColor: #dbdbdb;
$iconColor: #A3A3A3;
