$colorWhite: #fff;
$colorBlack: #000;

$baseSize: 16px;
$font: 'Roboto', sans-serif;

$boxShadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
$borderColor: rgba(0, 0, 0, .1);
$brandFSize: 40px;
$brandColor: #E93C0E;
$brandColorLite: rgba(241, 118, 87, 0.15);

$inputBorderColor: #dbdbdb;
$iconColor: #A3A3A3;

$infoIconColor: rgba(0,0,0,.8);
