<div class="section-container py-2">
  <h3 class="section-container-title mr-2">
    Repository
  </h3>
  <a class="section-container-subtitle" [href]="url | parseUrl">
    <i-feather name="github" class="color-gray"></i-feather>
    {{url | parseUrl | na}}
  </a>
</div>
<div class="section-container mt-2 py-2">
  <h3 class="section-container-title mr-2">
    Homepage
  </h3>
  <a class="section-container-subtitle" [href]="url | parseUrl">
    <i-feather name="link" class="color-gray"></i-feather>
    {{url | parseUrl | na}}
  </a>
</div>
